
section {  
    margin-top: 10em;
    max-height: 40em;
    display: flex;
    justify-content: space-evenly;
    overflow-y: hidden;
    overflow-x: hidden;
  }

  #school-logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  #school-logo img {
    margin: 15px;
    width: 15em;
    height: 15em;
  }

 